#root { overflow-x: hidden; } // Gets rid of the weird overscroll in Chrome

.vis text:hover { cursor:default; }

.content {
    background-color: $background;
    padding: 20px 40px;
}

.navbar {
    padding: 16px;
    width: 100vw;
    border-bottom: 1px solid $inactive;
    font-family: $header;
    .title {
        font-size: 24px;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-weight: 300;
    }
    .subtitle {
        color: #aaaaaa;
        font-size: 12px;
        font-style: italic;
        padding-left: 10px;
        a {
            border-bottom: .2px solid #aaa;
        }
    }
}

.selector {
    padding-bottom: 20px;
    width: 300px;
    font-size: 16px;
    font-family: $body;
    font-weight: 100;
    letter-spacing: 1px;
}

.vis {
    background-color: white;
    padding: 10px;
    border: 1px solid $light-gray;
    border-radius: 3px;
    margin: 0 auto 20px;
    font-family: $body;
    &:nth-child(2) { margin-right: 20px; }
    &:nth-child(3) { .bars rect { fill: $water; } }
}

.bars {
    .pork { fill: $pork }
    .poultry { fill: $poultry }
    .beef { fill: $beef }
    .mutton { fill: $mutton }
}

.legend {
    text-anchor: end;
    .article {
        font-size: 10px;
        letter-spacing: 0.75px;
        &.active rect { stroke: $active;  stroke-width: 1.5px;} 
        &.inactive { text { fill: $inactive; } rect { opacity: 0.5; }}
        &.pork rect { fill: $pork }
        &.poultry rect { fill: $poultry }
        &.beef rect { fill: $beef }
        &.mutton rect { fill: $mutton }
        &:hover { cursor: pointer; }
    }
}

.Axis-Left .tick line { 
    stroke: $light-gray
}
.Axis-Bottom .tick {
    line { display: none; }
    text { cursor: default; }
} 

.domain {
    display: none;
}

.tooltip {
    font-family: $body;
    letter-spacing: 0.5px;
    padding: 6px 4px;
    border-radius: 5px;
    border: 1px solid $light-gray;
    background: rgba(255,255,255,0.90);
    position: absolute;
    display: none;
}