.legend, .tooltip {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    // text-anchor: middle;
    fill: $gray;
}

